<footer style="text-align: center; padding-top: 2em;">
  <% if (page.total > 1){ %>
    <div class="pagination" >
        <%- paginator({
            prev_text: "pre",
            next_text: "nex"
        }) %>
    </div>
    <% } %>
</footer>
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
<script type='text/javascript'>kofiwidget2.init('Buy Me Tea', '#46b798', 'Y8Y7AFGT');kofiwidget2.draw();</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115306517-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-115306517-1');
</script>
<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "WebSite",
"name": "ashleyomara.com",
"alternateName": "Ashley O'Mara",
"url": "http://ashleyomara.com"
}
</script>
<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "Person",
"name": "Ashley O'Mara",
"url": "http://ashleyomara.com",
"image": "http://ashleyomara.com/images/me.jpg",
"sameAs": [
  "https://facebook.com/ashleymomara",
  "https://twitter.com/ashleymomara",
  "https://plus.google.com/104087588235712743070",
  "https://youtube.com/ashleymomara",
  "https://linkedin.com/in/ashleymomara"
],
"jobTitle": "Freelance writer and PhD candidate",
"worksFor": {
  "@type": "Organization",
  "name": "Syracuse University"
}
}
</script>
