    <meta charset="utf-8" />
    <title><%-config.title %></title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="<%- config.root %>css/mic_main.css" />
    <link rel="stylesheet" href="<%- config.root %>css/dropdownMenu.css" />
    <noscript>
        <link rel="stylesheet" href="<%- config.root %>css/noscript.css" />
    </noscript>
    <meta property="og:image" content="/about/omara-jeopardy.jpg" />
