<!DOCTYPE HTML>
<html>

<head>
	<link rel="bookmark"  type="image/x-icon"  href="<%- theme.head.favicon %>"/>
	<link rel="shortcut icon" href="<%- theme.head.favicon %>">
	<meta name="google-site-verification" content="l32ghwoQLNJCz3enA5tbASRiNjr2HxtlO0E_-XJWWTo" />
	<meta name="msvalidate.01" content="9D08F61BFA96161F5FB53B086A5E2BF0" />
	<meta name="yandex-verification" content="5661816279f1689a" />
	<link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
	<link rel="manifest" href="/media/favicon/site.webmanifest">
	<link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#2b5797">
	<meta name="msapplication-TileColor" content="#2b5797">
	<% if(page.layout === 'gallery') { %>
		<%- partial('_partial/gallery_head', {}, {cache: true}) %>
	<% } else { %>
			<%- partial('_partial/head', {}, {cache: true}) %>
			<%- partial('_partial/importJS', {}, {cache: true}) %>
	<% } %>
</head>
    <% if(page.layout === 'gallery') { %>
        <!-- Single Gallery Page -->
        <%- partial('_widget/page-gallery', {}, {cache: true}) %>

    <% } else { %>
		<%- body %>
 	<% } %>
</html>
